In [11]:
import pandas as pd
import numpy as np
data = pd.read_csv('Bengaluru_House_Data.csv')

In [12]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [13]:
data.shape

(13320, 9)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [15]:
for column in data.columns:
    print(data[column].value_counts())
    print("*" * 20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [16]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [17]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [18]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [20]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [21]:
data['location']=data['location'].fillna('Sarjapur Road')

In [22]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [23]:
data['size'] = data['size'].fillna('2 BHK')

In [24]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [25]:
data.info

<bound method DataFrame.info of                        location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]>

In [26]:
data['bhk'] = data['size'].str.split().str.get(0).astype(int)

In [27]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [28]:
def convertRange(x):

    temp = x.split('_')
    if len(temp) == 2:
        return(float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [29]:
data['total_sqft']= data['total_sqft'].apply(convertRange)

In [30]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

### Price per Square Feet

In [31]:
data['price_per_sqft'] = data['price'] *100000 / data['total_sqft']

In [32]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [33]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13073.000000  13320.000000  13320.000000  13320.000000    1.307300e+04
mean    1554.942029      2.688814    112.565627      2.802778    7.949600e+03
std     1238.458773      1.338754    148.971674      1.294496    1.072440e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.265734e+03
50%     1275.000000      2.000000     72.000000      3.000000    5.454545e+03
75%     1670.000000      3.000000    120.000000      3.000000    7.338057e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [34]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [35]:
data['location'] = data['location'].apply(lambda x: x.strip())
location_count = data['location'].value_counts()

In [36]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

location
BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: count, Length: 1054, dtype: int64

In [37]:
data['location'] = data['location'].apply(lambda x: 'other' if x is location_count_less_10 else x)

In [38]:
data['location'].value_counts()

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: count, Length: 1295, dtype: int64

### Outliner detection and removal

In [39]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13073.000000  13320.000000  13320.000000  13320.000000    1.307300e+04
mean    1554.942029      2.688814    112.565627      2.802778    7.949600e+03
std     1238.458773      1.338754    148.971674      1.294496    1.072440e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.265734e+03
50%     1275.000000      2.000000     72.000000      3.000000    5.454545e+03
75%     1670.000000      3.000000    120.000000      3.000000    7.338057e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [40]:
(data['total_sqft']/data['bhk']).describe

<bound method NDFrame.describe of 0         528.00
1         650.00
2         480.00
3         507.00
4         600.00
          ...
13315     690.60
13316     900.00
13317     570.50
13318    1172.25
13319     550.00
Length: 13320, dtype: float64>

In [41]:
data = data[((data['total_sqft']/data['bhk']) >= 100)]
data.describe

<bound method NDFrame.describe of                        location       size  total_sqft  bath   price  bhk  \
0      Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2                   Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3            Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                      Kothanur      2 BHK      1200.0   2.0   51.00    2
...                         ...        ...         ...   ...     ...  ...
13315                Whitefield  5 Bedroom      3453.0   4.0  231.00    5
13316             Richards Town      4 BHK      3600.0   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.00    2
13318           Padmanabhanagar      4 BHK      4689.0   4.0  488.00    4
13319              Doddathoguru      1 BHK       550.0   1.0   17.00    1

       price_per_sqft
0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
...               ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091

[13033 rows x 7 columns]>

In [42]:
data.shape

(13033, 7)

In [43]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = subdf.price_per_sqft.mean()  
        st = subdf.price_per_sqft.std()  
        gen_df = subdf[(subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m + st))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
    return df_output

data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10154.000000  10154.000000  10154.000000  10154.000000    10154.000000
mean    1501.077376      2.529348     97.206805      2.636596     5959.080731
std      907.505711      1.066200    117.171584      0.996746     2920.219279
min      276.000000      1.000000      8.000000      1.000000     1250.000000
25%     1100.000000      2.000000     49.500000      2.000000     4271.229026
50%     1277.000000      2.000000     68.000000      2.000000     5252.385639
75%     1650.000000      3.000000    103.000000      3.000000     6626.506024
max    30400.000000     16.000000   2912.000000     16.000000    37500.000000

In [44]:
def bhk_outlier_remove(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = ()
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean' : bhk_df.price_per_sqft.mean(),
                'std' : bhk_df.price_per_sqft.std(),
                'count' : bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [45]:
data.shape

(10154, 7)

In [46]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block BEL Layout,3 BHK,1540.0,3.0,85.0,3,5519.480519
1,1st Block BEL Layout,4 Bedroom,1800.0,5.0,250.0,4,13888.888889
2,1st Block HBR Layout,1 BHK,600.0,1.0,45.0,1,7500.000000
3,1st Block HBR Layout,4 BHK,3150.0,4.0,150.0,4,4761.904762
4,1st Block HRBR Layout,8 Bedroom,1200.0,7.0,235.0,8,19583.333333
...,...,...,...,...,...,...,...
10149,south,3 Bedroom,2400.0,2.0,480.0,3,20000.000000
10150,south,4 BHK,3420.0,3.0,410.0,4,11988.304094
10151,tc.palya,2 Bedroom,880.0,2.0,48.0,2,5454.545455
10152,tc.palya,2 Bedroom,1000.0,2.0,55.0,2,5500.000000
10153,tc.palya,3 Bedroom,1400.0,2.0,78.0,3,5571.428571

In [47]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

## Cleaned Data

In [48]:
data.head()

                location  total_sqft  bath  price  bhk
0   1st Block BEL Layout      1540.0   3.0   85.0    3
1   1st Block BEL Layout      1800.0   5.0  250.0    4
2   1st Block HBR Layout       600.0   1.0   45.0    1
3   1st Block HBR Layout      3150.0   4.0  150.0    4
4  1st Block HRBR Layout      1200.0   7.0  235.0    8

In [49]:
data.to_csv("Cleaned_data.csv")

In [50]:
X=data.drop(columns=['price'])
y=data['price']

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [52]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [53]:
print(X_train.shape)
print(X_test.shape)

(8123, 4)
(2031, 4)

## Applying Linear Regression

In [54]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['location']),
                                       remainder = 'passthrough')

In [55]:
scaler = StandardScaler()

In [56]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
print(X_train.columns)


numeric_features = ['total_sqft', 'bath','bhk']  
categorical_features = ['location'] 


preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)])


model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', LinearRegression())])


model.fit(X_train, y_train)


predictions = model.predict(X_test)
r2_score(y_test, predictions)

Index(['location', 'total_sqft', 'bath', 'bhk'], dtype='object')

0.5651478918036175

# Applying Ridge

In [58]:
ridge = Ridge()

In [59]:
pipe = make_pipeline(column_trans,scaler,ridge)

In [60]:
pipe.fit(X_train,y_train)

C:\Users\shubh\Desktop\ml_course\sample_project_1\env\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [63]:
x_pred_ridge = pipe.predict(X_test)
encoder = OneHotEncoder(handle_unknown='ignore')
r2_score(y_test, y_pred_ridge)

ValueError: Found unknown categories ['MLA Layout', 'Domlur Layout', 'Harappanahalli', 'Thanisandra Main Road,', 'RMV Extension Stage 2', 'Vibuthipura', 'Sarvabhouma Nagar', 'Coffee Board Layout', 'Chamundi Nagar', 'Ramchandrapuram', 'Muthurayya Swamy Layout', 'Tasker Town'] in column 0 during transform

In [64]:
import pickle

In [65]:
pickle.dump(model,open('Linear_Regression.pkl','wb'))